*{
  box-sizing: border-box;
}
ul{
  padding: 0;
  list-style: none;
}

body{
  width:100%;
  text-align: center;
  margin: auto;
}
main{
  padding: 10px;
  width: 940px;
  margin: 0 auto;
}
main .profile-icon{
  height: 100%;
}
main .profile-icon,main .profile{
  margin:20px 0
}

main ul li{
  padding:5px 0;
}

main h1{
  background-color: black;
  color: white;
}
main h1,h2{
  border-radius: 5px;
}
main h2{
  border:solid 1px black;
}
img{
  display: inline-block;
  width: 200px;
  border-radius: 600px;
}
